PUBLIC_DISCORD_URL="https://discord.com/api/v10" # Discord API base URI
PUBLIC_MCSTATUS_JAVA_API="https://api.mcsrvstat.us/3" # Java server status API
PUBLIC_MCSTATUS_BEDROCK_API="https://api.mcsrvstat.us/bedrock/3" # Bedrock server status API

DATABASE_URL="postgresql://..." # Supabase connection string

DISCORD_CLIENT_ID="" # Discord client ID
DISCORD_CLIENT_SECRET="" # Discord client secret
DISCORD_BOT_TOKEN="" # Discord bot token

JWT_SECRET="" # Secret key for JWT signin

PUBLIC_TEBEX_TOKEN="" # Public Tebex token for API access
TEBEX_PRIVATE_KEY="" # Private key for Tebex API